{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block content %}
<div class="row py-5">
<aside class="d-flex flex-lg-column col-lg-3 col-11 aside-lg-custom aside-custom border-custom margin-custom">
                <a id = "oggi" class= "flex-fill aside-link link-dark" href="#" title="Oggi">Oggi</a>
                <a id = "questa-settimana" class= "flex-fill link-dark aside-link text-lg-start text-center" href="#" title="Questa settimana">Questa settimana</a>
                <a id ="questo-mese" class= "flex-fill link-dark aside-link h-100 text-lg-start text-end" href="#" title="Questo mese">Questo mese</a>
            </aside>

            <section class = "d-flex flex-column col-lg col-11 py-3 border-custom mt-lg-0 mt-5 margin-custom" id= "posts-section">
                {% for user_post in posts %}
                <article class = "d-flex flex-xs-column py-xs-5">
                    <a href="{{url_for('post', id = loop.index)}}" class = "post-picture mb-lg-5 mb-md-5 mb-sm-5 w-lg-50 w-md-50">
                        <img class="w-100 d-inline" src="{{url_for('static', filename = user_post.post_img)}}" alt="Foto post">
                    </a>
                    <section class= "d-flex flex-wrap px-lg-3 px-md-3 px-sm-3 post-description-section h-50 flex-fill w-50 w-xs-100">
                        <img class= "h-25 h-sx-25 profile-picture" src="{{url_for('static', filename = user_post.profile_img)}}" alt="Foto profilo">
                        <p class="h-25 h-sx-25">{{ user_post.username }}</p>
                        <p class = "h-25 h-sx-25 text-end flex-grow-1">{{ user_post.data}}</p>
                        <p class= "text-justify flex-wrap h-sx-65">{{ user_post.testo }}</p>
                    </section>
                </article>
                {% endfor %}

            </section>
            <img class= "fixed-bottom" id= "add-btn" src="{{url_for('static', filename = 'images/noun-plus-5159238.png')}}" alt="AddBtn">
</div>
{% endblock %}
